<!DOCTYPE html>

<html>
	<head>

    	<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel='stylesheet' href='/stylesheets/about.css' />
  		<title>About</title>
    
  </head>
<body>
  <div class="container" id="header">   
      <img src="/images/logo.png" class="img-responsive" id="logo">
    
  </div>
  <nav class="navbar navbar-nav">
    <div class="contenedor">
      <div class="navbar-header">
      <!-- The navbar is responsive by default, -->
      <!-- the following button is what appears when the navbar shrinks -->
        <button type="button" 
        class=" navbar-toggle & collapsed" 
        data-toggle="collapse"
        aria-expanded="false"
        data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
           
      </div>
          
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="first"><a href="#">Personaliza Tu Furgoneta</a></li>
          <li class="second"><a href="/modelos">Modelos</a></li>
          <li class="third"><a href="#">Catálogo</a></li>
          <li class="third"><a href="/About_us">Conócenos</a></li>
          <li class="fourth"><a href="/Contacto">Contacto</a></li>
          <li class="fifth"><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="main">
    <div class="content">
      <p>En <strong>Custom Camper</strong> te ofrecemos la posibilidad de camperizar y personalizar tu furgoneta por dentro y por fuera a un <em>precio muy asequible</em>, con materiales de calidad, tras haberle realizado una sustitución de correas, líquidos y filtros en un plazo de 60 días y con la <em>homologación</em> incluida en el precio.</p>

      <p>Si aún no dispones de furgoneta, en <strong>Custom Camper</strong> podrás elegir entre una variedad de <em>vehículos nuevos y de ocasión</em> que tenemos a la venta.</p>

      <p>Además de trabajar con los paneles de madera contrachapada fenólica HPL en sus colores convencionales, nosotros te ofrecemos <em>en exclusiva</em> la aplicación,a estas piezas, de técnicas del mundo de la pintura customizada.</p>

      <p>Échale un vistazo a nuestra galería y empieza a ver tu sueño como una realidad...</p>
  
    </div>
  <img src="/images/mecanico.jpg" class="img-responsive" id="mecanico">
  </div>
  

  <div class="scrolling-wrapper">

    <% pics.forEach(function(pic) { %>
        <div class="elemento" style="background:url(<%= pic.img_url%>)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;">
        </div>
      <% })%>

  </div>
  <div class="row" id="first-footer">
    <ul>
      <li><a href="https://customcamper.es/aviso-legal/">Aviso legal</a></li>
      <li><a href="https://customcamper.es/politica-de-privacidad/">Política de privacidad</a></li>
      <li><a href="https://customcamper.es/politica-de-cookies/">Política de cookies</a></li>
    </ul>         
  </div>
</body>
</html>