
<!DOCTYPE html>

<html>
	<head>
    	<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<link rel='stylesheet' href='/stylesheets/elige.css' />
  		<title>Elige tu furgoneta</title>
  </head>

<body>

  <div class="container" id="header">   
      <img src="/images/logo.png" class="img-responsive" id="logo">
  </div>
  <nav class="navbar navbar-nav">
    <div class="contenedor">
      <div class="navbar-header">
      <!-- The navbar is responsive by default, -->
      <!-- the following button is what appears when the navbar shrinks -->
        <button type="button" 
        class=" navbar-toggle & collapsed" 
        data-toggle="collapse"
        aria-expanded="false"
        data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
           
      </div>
          
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="first"><a href="/elige-tu-furgoneta">Elige Tu Furgoneta</a></li>
          <li class="second"><a href="/techos">Techos elevables</a></li>
          <li class="active"><a href="/extras">Extras</a></li>
          <li class="third"><a href="/About_us">Conócenos</a></li>
          <li class="fourth"><a href="/Contacto">Contacto</a></li>
          <li class="fifth"><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="info-choose">

    <p>En <strong>Custom Cumper</strong> vamos a ayudarte a encontrar la furgoneta nueva o de ocasión que mejor se adapte a tus necesidades.</p>
    <p>El primer paso consiste en definir el tamaño de furgoneta que necesitas. Esta elección se realiza básicamente en función del número de personas que viajarán y/o dormirán en ella, el espacio habitable que deseas disfrutar y el espacio de carga del cual quieres disponer.<p>
   
    <p>En <strong>Custom Cumper</strong> generalmente trabajamos con tres grandes grupos de furgonetas camperizadas:</p>
      
      <p class="option">Furgonetas de batalla corta (L2H2) Altura=1.93m, Longitud=5.4m, Anchura=2.1m</p>
      <p class="option">Furgonetas de batalla media (L3H2) Altura=1.93m, Longitud=6.0m, Anchura=2.1m</p>
      <p class="option">Furgonetas de batalla larga (L4H2) Altura=1.93m, Longitud=6.3m, Anchura=2.1m</p>

    <p>A continuación, verás las características básicas de cada una de las medidas de batalla para que escojas la medida que más se adapte a tus necesidades.</p>

    <div class="advert">
      <p><i class="glyphicon glyphicon-warning-sign"></i>Con la intención de simplificar y agrupar las diferentes marcas de furgonetas disponibles en el mercado, utilizaremos la Ducato Jumper que es una de las furgonetas más demandadas. El resto de marcas son básicamente equivalentes.</p>
    </div>
    
  </div>

  <div class="row">
    <div class="col-xs-4"style="background:url(/images/furgonetas/furgo1.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;"></div>
    <div class="col-xs-4">
      <h2>Ducato Jumper L2H2</h2>
      <p>Indicada especialmente para 2 personas</p>
      <p>Muy manejable en carretera y parkings</p>
      <p>Permite estar de pie dentro de ella</p>
      <p>Amplia y compacta</p>
      <button class="btn-success"><a href="/L2H2">Simular en 3D</a></button>
    </div>
  </div>
  
  <div class="row">
    <div class="col-xs-4"style="background:url(/images/furgonetas/furgo2.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;"></div>
    <div class="col-xs-4">
      <h2>Ducato Jumper L3H2</h2>
      <p>Indicada especialmente para 3/4 personas</p>
      <p>Manejable en carretera y parkings</p>
      <p>Permite estar de pie dentro de ella</p>
      <p>Buen espacio habitable y de carga</p>
      <button class="btn-success"><a href="/L3H2">Simular en 3D</a></button>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4"style="background:url(/images/furgonetas/furgo3.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;"></div>
    <div class="col-xs-4">
      <h2>Ducato Jumper L4H2</h2>
      <p>Indicada especialmente para 4 personas o más</p>
      <p>Buen manejo en la mayoría de carreteras</p>
      <p>Permite estar de pie dentro de ella</p>
      <p>Gran espacio habitable y de carga</p>
      <button class="btn-success"><a href="L4H2">Simular en 3D</a></button>
    </div>
  </div>

  <div class="row" id="first-footer">
    <ul>
      <li><a href="https://customcamper.es/aviso-legal/">Aviso legal</a></li>
      <li><a href="https://customcamper.es/politica-de-privacidad/">Política de privacidad</a></li>
      <li><a href="https://customcamper.es/politica-de-cookies/">Política de cookies</a></li>
    </ul>         
  </div>

</body>
</html>




