<!DOCTYPE html>

<html>
	<head>

    	<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
  		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  		<link rel='stylesheet' href='/stylesheets/index.css' />
  		<title>Custom-Campers WebPage</title>
    
  	</head>
<body>
	<div class="container">		
		<div class="logo">
 			<a href="/" class="logo">
 				<img src="/images/logo.png" width="170" height="110" id="logo">
 			</a>
 			<button class="btn btn-default" id="botonlanguage">
 				<img src="/images/flag.png" width="20" height="15">	<span>FR</span>
 			</button>
 		</div>
 		
 		<div class="contenedor">
 			<nav class="navbar navbar-nav">	
 			<style> 
 				@media (min-width: 1025px) {
    				.navbar-nav {
    					margin-left: 150px;
   				 	}
				}
			</style>

			<style> 
				@media (min-width: 767px) and (max-width: 1024px) {
    				li{
						display: inline;
						list-style: none;
						font-size: 18px;
						margin-right: 40px;}
					.navbar-nav {
    					margin-left: 10px;
   				 	}
				}
			</style>

 				<div class="navbar-header">
  			<!-- The navbar is responsive by default, -->
  			<!-- the following button is what appears when the navbar shrinks -->
  					<button type="button" 
  					class="navbar-toggle collapsed" 
    				data-toggle="collapse" 
    				data-target="#bs-navbar-collapse-1" 
    				aria-expanded="false">
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
  					</button>
  				</div>
  				
  				<div class="collapse navbar-collapse" id="#bs-navbar-collapse-1">
  					<ul class="nav navbar-nav">
    					<li class="first"><a href="#">Personaliza Tu Furgoneta</a></li>
  						<li class="second"><a href="#">Modelos</a></li>
 						<li class="third"><a href="#">About us</a></li>
 						<li class="fourth"><a href="#">Contacto</a></li>	
 					</ul>
  				</div>
  			</nav>
  		</div>
  	</div>
	
</body>
</html>
