<!DOCTYPE html>

<html>
	<head>
    	<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<meta http-equiv="X-UA-Compatible" content="ie=edge">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  		<link rel='stylesheet' href='/stylesheets/techos.css' />
  		<title>Techos Elevables</title>
  </head>
<body>

  <div class="container" id="header">   
      <img src="/images/logo.png" class="img-responsive" id="logo">
  </div>
  <nav class="navbar navbar-nav">
    <div class="contenedor">
      <div class="navbar-header">
      <!-- The navbar is responsive by default, -->
      <!-- the following button is what appears when the navbar shrinks -->
        <button type="button" 
        class=" navbar-toggle & collapsed" 
        data-toggle="collapse"
        aria-expanded="false"
        data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
           
      </div>
          
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="first"><a href="/elige-tu-furgoneta">Elige Tu Furgoneta</a></li>
          <li class="second"><a href="/techos">Techos elevables</a></li>
          <li class="third"><a href="/extras">Extras</a></li>
          <li class="third"><a href="/About_us">Conócenos</a></li>
          <li class="fourth"><a href="/Contacto">Contacto</a></li>
          <li class="fifth"><a href="/"><i class="glyphicon glyphicon-home"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="introduction">
    
    <p>La instalación de techos elevables para tu furgoneta camperizada te ofrecerá un aumento de habitabilidad y confort, generando además mucho más espacio en el habitáculo inferior.</p>
    <p>Si estás pensando en ampliar el espacio de tu furgoneta camperizada, en <strong>Custom Camper</strong> tenemos todos los accesorios para hacerlo realidad.</p>
    <p>Todas nuestras instalaciones incluyen la pintura del techo a juego del vehículo, la cama y la homologación.</p>
      
    <p>Ofrecemos dos modelos de cama.</p>
  
  </div>
  
  <div class="row">
    
    <div class="col-xs-4" style="background:url(/images/colchones/colchon1.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;">
      <h2> Cama convencional</h2>
    </div>

    <div class="col-xs-4" style="background:url(/images/colchones/colchon2.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;">
      <h2> Cama premium</h2>
    </div>
  </div> 
  <div class="row" id="text-info">
    <div class="col-xs-4">
      <p> Incluye colchón de alta calidad con funda.</p>
    </div>
    <div class="col-xs-4">
      <p> Además del colchón, se instala un somier con resortes de plástico que le dan un toque extra de confort. </p>
    </div>
  </div>

  <div class="plus" style="width: 60vw;"><p><i class="glyphicon glyphicon-plus-sign"></i> Puedes instalar también la opción <strong>"Open Sky"</strong> que permite la apertura total de la lona del techo, dejándote disfrutar de tu furgo como si estuvieras en una terraza.</p></div>
  <i></i>
  <div class="open" style="background:url(/images/colchones/colchon3.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;">

  </div>
  <h1>Tipos de techo Reimo</h1>
  <hr>
  <div class="row">
    <div class="col-xs-4">
      <h2>Easy Fit</h2>
      <p>El techo tradicional de Reimo en su versión pre-ensamblada por el fabricante. Reduce los tiempos de montaje.</p>
    </div>
    <div class="col-xs-4" id="medium">
      <h2>Superflach</h2>
      <p>La evolución del techo Reimo más tradicional, esta vez con un diseño más plano que prescinde del spoiler delantero.Disponible batalla larga, batalla corta y con la tradicional apertura hacia adelante y hacia atrás.</p>
    </div>

    <div class="col-xs-4" id="last">
      <h2>Ultraflach</h2>
      <p>El techo elevable más plano de Reimo.Un aspecto más elegante. Altura total del vehículo inferior a 2 metros. No disponible para batalla larga.</p>
    </div>
 
  </div>
  <p class="encabezado">Volkswagen T4 2003 en adelante</p>
  <hr id="linea">
  <div class="row" id="filtro">
    <div class="col-xs-4" style="background:url(/images/tipos-techos/techo2.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;">
    </div>
    <div class="col-xs-4">
      <h2 class="orange">Easy Fit</h2>
      <p>Para vehículos sin aire acondicionado en las plazas traseras.</p>
      <p>Precio batalla corta: 5.460€
    </div>
  </div>
  <p class="encabezado">Volkswagen T5-T6</p>
  <hr id="linea">
  <div class="row" id="filtro">
    <div class="col-xs-4" style="background:url(/images/tipos-techos/techo3.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;"></div>
    <div class="col-xs-4">
      <h2 class="orange">Easy Fit</h2>
      
        <p>Precio batalla corta: 6.350€</p>
        <p>Precio batalla larga: 6.670€</p>
        <p>Opción cama <em>Premium</em>: 564€</p>
        <p>Opción <em>Open Sky</em>: 375€</p>
        <p>Opción multivan o vehículos con climatizador trasero: 480€</p>

    </div>
  </div>
    
  <div class="row" id="filtro">
    <div class="col-xs-4" style="background:url(/images/tipos-techos/techo4.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;"></div>
    <div class="col-xs-4">
      <h2 class="orange">Superflach</h2>
  
      <p>Precio batalla corta apertura delantera: 6.482€</p>
      <p>Precio batalla corta apertura trasera: 6.781€</p>
      <p>Precio batalla larga apertura delantera: 6.694€</p>
      <p>Precio batalla larga apertura trasera: 6.822€</p>
      <p>Opción multivan o vehículos con aire trasero: 6.681€</p>
      <p>Opción <em>Open Sky</em>: 375€</p>
      
    </div>
  </div>
  <div class="row" id="filtro">
    <div class="col-xs-4" id="ultra" style="background:url(/images/tipos-techos/techo5.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;"></div>
    <div class="col-xs-4" id="ultra">
      <h2 class="orange">Ultraflach</h2>
      <p>Precio: 6.990€</p>
      <p>Opción cama <em>Premium</em>: 607€</p>
      <p>Opción <em>Open sky</em>: 375€</p>
    </div>
  </div>
  <p class="encabezado">Ford Transit 2013 en adelante</p>
  <hr id="linea">
  <div class="row" id="filtro">
    <div class="col-xs-4"  style="background:url(/images/tipos-techos/techo6.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;"></div>
    <div class="col-xs-4">
      <h2 class="orange">Superflach</h2>
      <p>Precio: 6.892€</p>
    </div>
  </div>
  <p class="encabezado">Mercedes Vito 2014 en adelante</p>
  <hr id="linea">
  <div class="row" id="filtro">
    <div class="col-xs-4" style="background:url(/images/tipos-techos/techo7.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;"></div>
    <div class="col-xs-4">
      <h2 class="orange">Easy Fit</h2>
      <p>Para vehículos sin aire acondicionado en las plazas traseras.</p>
      <p>Precio batalla larga: 6.740€</p>
    </div>
  </div>
  <p class="encabezado">Renault Trafic-Opel Vivaro y Nissan NV300-Fiat Talento</p>
  <hr id="linea">
  <div class="row" id="filtro">
    <div class="col-xs-4" style="background:url(/images/tipos-techos/techo8.jpg)no-repeat center;background-size: cover; -moz-background-size: cover;-o-background-size: cover; background-size: cover;"></div>
    <div class="col-xs-4">
      <h2 class="orange">Easy Fit</h2>
      <p>Para vehículos sin aire acondicionado en las plazas traseras.</p>
      <p>Precio batalla corta: 7.303€</p>
      <p>Opción cama <em>Premium</em>: 7.828€</p>
      <p>Precio batalla corta: 7.486€</p>
    </div>
  </div>
    <div class="row" id="first-footer">
    <ul>
      <li><a href="https://customcamper.es/aviso-legal/">Aviso legal</a></li>
      <li><a href="https://customcamper.es/politica-de-privacidad/">Política de privacidad</a></li>
      <li><a href="https://customcamper.es/politica-de-cookies/">Política de cookies</a></li>
    </ul>         
  </div>



</body>
</html>