
html,body{

	width: 100%;
	height: 100%;
}

.container{
	width: 100%;
	max-height: 10vw;
	justify-content: center;
	align-items: center;
	background-color: #F1F8E0;
}


#logo{
	margin-top: 0.4vw;
	margin-left:42.5vw;
	width: 15vw;
	height: 10vw;
}

@media (max-width: 767px) {
	#languague{float:right;
		padding-left: 0px;
		margin-left: 0.2vw;

	}
}
span{
	font-weight: bold;
	font-size: 0.9vw;
	margin-left: 0.16vw;
}


.navbar-nav{
	margin-top: 0.8vw;
	width: 100%;
	box-sizing:none;
	margin-left: 0vw;
	background-color: #F1F8E0;
	border-top-color:#F1F8E0;
	margin-top: 0px;
	padding-top: 0.5vw;
}

@media (max-width: 767px) {

	.navbar-nav{
		margin-bottom:0px;
	}
}

@media (min-width: 767px) and (max-width: 1025px) {
	.nav li{
		margin-left: 3.5vw;
	}

}

.navbar-nav>li>a{
	padding-top: 0px;
	padding-bottom: 0px;

}

li{ 
	margin-left:5vw; 
	display: inline;
	list-style: none;
	font-size: 1.31vw;
	margin-right: 2.38vw;
}
@media (min-width: 767px) and (max-width: 1363px) {
	li{
		margin-left:3vw;
	}
}

a{
	color:#6E6E6E;
	font-family: "Lato";
	margin:0px;
	padding: 0px;
}




.navbar-toggle{
	background-color: #6E6E6E;
	float:left;
}
.icon-bar{
	background-color:#F8FBEF;
}
.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
	
}

.main{
	width: 100vw;
	display: inline-flex;
}
.content{
	margin-top: 6vw;
	width: 70vw;
}
#mecanico{
	width: 28vw;
	height: 26vw;
	float: right;
	margin-top:12vw;
	margin-left: 11vw;
}
p{
	font-family:"Gill Sans";
	color:#6E6E6E;
	font-size: 1.46vw;
	margin-top: 2vw;
	margin-left: 5vw;
}

.content a{
	font-family:"Gill Sans";
	color:#0040FF;
	font-size: 1.46vw;
}

.row{
	margin-top: 0.5vw;
	margin-left: 2vw;
}
.col-xs-4{
	width: 48vw;
	height: 38vw;
	margin-left: 0.5vw;
	padding-right: 0px;
    padding-left: 0px;
    margin-top: 0.5vw;
}

#first-footer{
	position: fixed;
	bottom:0;
	background-color:#424242;
	width: 100%;
	height: 2.5vw;
	margin:0px;
	padding: 0px;
	text-align: left;
}
#first-footer ul{
	margin:0px;
	padding: 0px;
	margin-bottom: 0px;
	line-height: 1.46vw;

}
#first-footer li{
	margin-top: 0.5vw;
	display: inline-flex;
	list-style: none;
	font-size: 1vw;	
	color:#848484;
}

	
#first-footer a{
	color:#848484;
	font-family: "Avenir"
	font-size: 1vw;
	margin-left: 4vw;

}
