
body{
margin:0px;
padding: 0px;
height: 100%;
}

.container{
	width: 100%;
	max-height: 10vw;
	justify-content: center;
	align-items: center;
	background-color: #F1F8E0;
}


#logo{
	margin-top: 0.4vw;
	margin-left:42.5vw;
	width: 15vw;
	height: 10vw;
}


@media (max-width: 767px) {
	#languague{float:right;
		padding-left: 0px;
		margin-left: 0.2vw;

	}
}
span{
	font-weight: bold;
	font-size: 0.9vw;
	margin-left: 0.16vw;
}

.navbar-nav{
	margin-top: 0.8vw;
	width: 100%;
	box-sizing:none;
	margin-left: 0vw;
	background-color: #F1F8E0;
	border-top-color:#F1F8E0;
	margin-top: 0px;
	padding-top: 0.5vw;
}

@media (max-width: 767px) {

	.navbar-nav{
		margin-bottom:0px;
	}
}

.navbar-nav>li>a{
	padding-top: 0px;
	padding-bottom: 0px;

}

li{ 
	margin-left:5vw; 
	display: inline;
	list-style: none;
	font-size: 1.31vw;
	margin-right: 2.38vw;
}
@media (min-width: 767px) and (max-width: 1363px) {
	li{
		margin-left:3vw;
	}
}

a{
	color:#6E6E6E;
	font-family: "Lato";
	margin:0px;
	padding: 0px;
}

.navbar-toggle{
	background-color: #6E6E6E;
	float:left;
}
.icon-bar{
	background-color:#F8FBEF;
}
.elección{
	width: 60vw;
	margin-top: 8vw;
	margin-left: 5vw;
}
p{
	font-family:"Gill Sans";
	color:#6E6E6E;
	font-size: 1.6vw;
}

.simulator{
	margin-top: 1.5vw;
	width: 100vw;
	margin-left: 5vw;
}
#simul{
	width:42.34vw; 
	height:23.8vw;
}
h2{
	font-family:"Gill Sans";
	font-size: 3.5vw;
	margin-left:5vw;
	color:black;
	margin-bottom: 0.73vw;
}

h3{
	font-family:"Gill Sans";
    margin-bottom: 0.73vw;
	font-size: 2.2vw;
	color:#886A08;
	text-align: left;
	margin-left: 0vw;

}
hr{
	margin-left: 5vw;
	width: 90%;
	background-color: black;
	height: 0.16vw;
	margin-top: 1.46vw;
	margin-bottom: 1.46vw;
}
.row{
	margin-left: 5vw;
	margin-top: 1vw;
}
.col-xs-3{
	width: 30vw;
	margin-left: 1vw;
}
.option{
	display: list-item;
}
.row p{
	margin-left: 2vw;
}
.last{
	margin-top: 0vw;
	margin-bottom:2.7vw;
	background-color: #F1F8E0;
}
.last p{
	margin-top: 0.5vw;
	font-size: 1.7vw;
	margin-left: 5vw;
}
.last a{

	font-size: 1.7vw;
	color: blue;
}
#first-footer{
	position: fixed;
	bottom:0;
	background-color:#424242;
	width: 100%;
	height: 2.5vw;
	margin:0px;
	padding: 0px;
	text-align: left;
}
#first-footer ul{
	margin:0px;
	padding: 0px;
	margin-bottom: 0px;
	line-height: 1.46vw;

}
#first-footer li{
	margin-top: 0.5vw;
	display: inline-flex;
	list-style: none;
	font-size: 1vw;
	

}
	
#first-footer a{
	color:#848484;
	font-family: "Avenir"
	font-size: 1vw;
	margin-left: 4vw;

}